########################################################################
# FOLDERS
########################################################################
build/templates/component/
coverage
dist
node_modules
src/generated/

########################################################################
# FILES
########################################################################
