.component {
}

.content {
  margin: var(--grid-4x) auto;
}

.component aside {
}

.heading {
  margin-bottom: theme('spacing.6x');
  margin-top: theme('spacing.6x');
}

.image {
  background-position: bottom;
  background-size: cover;
  margin: 0;
}

.post {
  margin: 0 0 var(--grid-2x);
  padding-left: 0;
  padding-right: 0;
}

.sidebar {
}
