* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

body {
  color: theme('colors.black');
  font-family: theme('fontFamily.copy');
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  min-width: var(--min-width);
  padding: 0;
}

a {
  color: theme('colors.primary');
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme('fontFamily.heading');
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  text-transform: unset;
}

p {
  margin: 0 0 1.4rem;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea {
  color: theme('colors.secondary');
  padding: theme('spacing.2x');
}

blockquote {
  font-size: 16px;
}

blockquote,
blockquote cite {
  font-weight: normal;
}

blockquote cite {
  font-size: 0.9em;
}

@screen md {
  blockquote {
    font-size: 20px;
  }
}

@screen lg {
  blockquote {
    font-size: 24px;
  }
}

hr {
  border: none;
  border-bottom: 1px solid var(--spot-grey-1);
  margin: var(--grid-8x) 0;
}

hr.small {
  margin: var(--grid-2x) 0;
}

hr.medium {
  margin: var(--grid-4x) 0;
}

hr.large {
  margin: var(--grid-6x) 0;
}

@media (max-width: 768px) {
  hr {
    margin: var(--grid-4x) 0;
  }

  .portfolio {
    margin-top: var(--grid-5x);
  }
}

@media (max-width: 414px) {
  hr {
    margin: var(--grid-2x) 0;
  }
}
