.ui-list-disc {
  list-style: disc;
  padding-left: var(--grid-3x);
}

.ui-list-disc li.nested,
.ui-list-tags li.nested {
  margin-left: 20px;
}

.ui-list-tags {
  color: var(--spot-grey-7);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--grid-4x);
}

.ui-list-tags li {
  border: 1px solid var(--spot-grey-1);
  border-radius: var(--grid-2xs);
  cursor: default;
  display: inline;
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: var(--grid-1x);
  margin-right: var(--grid-1x);
  padding: var(--grid-1xs) var(--grid-1x);
  transition: border 120ms ease-in, color 120ms ease-in;
}

.ui-list-tags li:hover {
  border-color: transparent;
  color: var(--spot-primary);
}
