.component :root {
  --spot-dropshadow: rgba(0 0 0 / 30%);
}

.component {
  background-color: var(--spot-grey-8);
  border-bottom: unset;
  box-shadow: 0 3px var(--grid-1xs) 0 var(--spot-dropshadow);
  height: var(--header-height);
  left: 0;
  min-width: var(--min-width);
  padding: 0 theme('spacing.2x');
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}

.nav {
  overflow: auto;
  white-space: nowrap;
}

.link {
  color: var(--spot-white);
  display: inline-block;
  font-size: theme('fontSize.14');
  line-height: var(--header-height);
  padding: 0 var(--grid-2x);
  position: relative;
  text-decoration: none;
  transition: color 140ms ease-out;
}

.link:after {
  background-color: var(--spot-grey-3);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  bottom: 0;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  transition: height 140ms ease-out;
}

.link:hover:after,
.active:after {
  height: 3px;
}

.link:hover {
  color: var(--spot-white);
  text-decoration: none;
}

.active:after {
  background-color: var(--spot-white);
}

.logo,
.svgBrand,
.svgOctocat {
  display: inherit;
}

.logo {
  margin: 0 var(--grid-2x) 0 var(--grid-3x);
}

.menu {
  background: transparent;
  border: none;
  display: none;
}

.active,
.active:hover {
  color: var(--spot-white);
  text-decoration: none;
}

.svgBrand {
  height: 50px;
  width: 50px;
}

.svgOctocat {
  height: var(--header-height);
  position: fixed;
  right: 0;
}

@media (max-width: 768px) {
  .logo {
    margin: auto;
  }

  .menu {
    cursor: pointer;
    display: inline-flex;
    left: 0;
    padding: var(--grid-2xs);
    padding: 14px 12px;
    position: fixed;
    top: 0;
  }

  .nav {
    background-color: var(--spot-grey-8);
    bottom: 0;
    box-shadow: 0 3px var(--grid-1xs) 0 var(--spot-dropshadow);
    height: calc(100vh - var(--header-height));
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding-top: 20px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: var(--header-height);
    transform: translate3d(0, 0, 0);
    transition: opacity 340ms ease-in-out;
    width: 100%;
  }

  .nav.open {
    opacity: 1;
    pointer-events: all;
  }

  .link {
    background-color: transparent;
    display: block;

    /* prettier-ignore */
    transition: background-color 200ms ease-out, color 200ms ease-out, padding-left 200ms ease-out;
  }

  .active {
    background-color: theme('colors.gray.7');
    color: theme('colors.gray.2');
    padding-left: theme('spacing.3x');
  }

  .link:hover:after,
  .active:after {
    height: 0;
  }
}
