.component {
  color: var(--spot-grey-8);
  display: flex;
  flex: 1 0 29%;
  flex-direction: column;
  margin: var(--grid-2x);
  min-width: 320px;
  padding: var(--grid-2x);
}

.component:hover {
  text-decoration: none;
}

.component svg path {
  transition: fill 300ms ease-out;
}

.component:hover svg path {
  fill: var(--spot-primary);
}

.component h2 {
  color: var(--spot-grey-8);
  font-size: 1.2em;
  margin-bottom: var(--grid-1xs);
}

.component img {
  margin-bottom: var(--grid-3x);
}

.component p {
  font-size: 0.9em;
}

.component time {
  display: block;
  font-size: 0.9em;
  margin-bottom: var(--grid-2x);
}

.heading {
  align-items: center;
}

.heading:hover {
  text-decoration: unset;
}

.heading h2 {
  margin: 0;
}

.heading svg {
  margin-right: var(--grid-1x);
}

.image {
  border: 1px solid var(--spot-grey-3);
  padding: 2px;
}

.link {
  color: var(--spot-primary);
  float: right;
  font-size: 0.8em;
  text-align: end;
}
